<!DOCTYPE HTML>
<html lang="ru-RU" id="no-js" xmlns='http://www.w3.org/1999/xhtml' xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <%= render "_shared/meta_properties" %>
</head>
<body>
  <%= yield %>
</body>
</html>